* {
    padding: 0;
    margin: 0;
    font-family: "Arial";
}

.header {
    background: #445162;
    padding: 50px;
    color: #ffffff;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.header__title {
    font-size: 60px;
    line-height: 45px;
    margin-bottom: 42px;
    font-weight: 400;
}

.header__list {
    font-size: 20px;
    line-height: 36px;
    list-style: none;
}

.header__item::before {
    content: url(../img/check_icon.png);
    margin-right: 5px;
}

.section {
    padding: 50px;
}

.about-product__container {
    display: flex;
    justify-content: space-between;
}

.section__title {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    padding-bottom: 30px;
}

.about-product__title {
    text-align: left;
}

.about-product__text {
    max-width: 655px;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 20px;
}

.dignity {
    background: #f5f5f5;
    padding-bottom: 15px;
}

.dignity__list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.dignity__item {
    width: 50%;
    padding-bottom: 35px;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 41px;
    box-sizing: border-box;
    position: relative;
}

.dignity__item::before {
    content: url(../img/plus.png);
    position: absolute;
    top: 5px;
    left: 0;
}

.screenshots {
    padding-bottom: 20px;
}

.screenshots__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.screenshots__item {
    width: 50%;
    display: flex;
    margin-bottom: 30px;
}

.screenshots__item-inner {
    max-width: 360px;
    margin-left: 15px;
}

.screenshots__item-title {
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 10px;
    margin-top: -6px;
}

.screenshots__item-text {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.reviews {
    background: #f5f5f5;
	padding-bottom: 25px;
}

.reviews__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.reviews__item {
    width: 48.5%;
    padding-bottom: 25px;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding-left: 103px;
    box-sizing: border-box;
    position: relative;
}

.reviews__item::before {
    content: "";
    position: absolute;
    width: 75px;
    height: 75px;
    background: #445161;
    border-radius: 50%;
    top: 0;
    left: 0;
}

.reviews__item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 12px solid #ebebeb;
    border-bottom: 12px solid transparent;
    top: 27px;
    left: 91px;
}

.reviews__item-container {
    background: #ebebeb;
    border-radius: 5px;
    padding: 16px;
}

.reviews__item-text {
    font-style: italic;
    padding-bottom: 10px;
}

.reviews__item-author {
    color: #989898;
}

.buy-now__list {
    list-style-type: none;
    list-style-position: inside;
    display: flex;
    justify-content: center;
	align-items: flex-end;
}

.buy-now__item {
    margin: 0 22px;
    background: #445162;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    border: 2px solid #445162;
	width: 300px;
}

.buy-now__item-title {
    text-align: center;
    padding: 16px 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.buy-now__item-price {
    background: #fff;
    color: #445162;
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    padding: 18px 0;
}

.buy-now__item-list {
    padding: 20px;
}

.buy-now__item-button {
    width: 260px;
    margin: 0 auto 20px;
    display: block;
    color: #445161;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    padding: 14px 0;
    border-radius: 5px;
    border: none;
    outline: none;
	cursor: pointer;
}